body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
p{
    color:#6C6C6C;
}
header{
    background-color: #2D25A0;
    color: white;
    width: 100%;
    height: auto;
    overflow: auto;
}
header h1{
    margin-top:0px;
    font-size: 64px;
}
.header-container{
    display: flex;
    align-items: center;
    padding:6% 8%;
}
.half-width{
    width:40%;
    padding-left: 5%;
}
.btn-watch{
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
}
.header-img img{
    width:100%;
}
/* player section styles  */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 70px 210px 45px 180px;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-banner img{
    width: 300px;
    height: 256px;
}
 /* footer section styles  */
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-section img {
    width:483.87px;
    height : 110px;
}
.icons{
    margin: 30px 0 20px 0;
}
.fab, .far {
    font-weight: 400;
    font-size: 32px;
    margin-left: 14px;
}
footer, footer .fab, .far{
    font-size:18px;
}
/* responsive part  */
@media  only screen and (max-width: 600px){
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 70px 210px 45px 180px;
        grid-row-gap: 27px;
        grid-column-gap: 30px;
        justify-content: center;
    }
    header{
        background-image: cover;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 18% 2%;
        
    }
    .half-width{
        width: 100%;
    }
    .header-img img{
        margin-top: 60px;
    }
}